<!doctype html>
<html lang="en">
<head>
    <title>Meliora SignIn Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="{{ asset('css/signin.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="{{ asset('//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i') }}" rel="stylesheet">
    <!-- //web font -->

    <script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</head>
<body>
{% if error %}
    <div class="alert alert-danger">
        <ul class="list-unstyled mb-0">
            <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </li>
        </ul>
    </div>
{% endif %}
<div class="login-page">
    <div class="form">
        <form class="login-form">
            <div class="form-group">
            </div>
        </form>
        {{form(form)}}
        <p class="message">Not registered? <a href="{{ path('registration') }}">Create an account</a></p>

    </div>
</div>


</body>
</html>