{% extends 'baseCoach.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter Planning!{% endblock %}

{% block body %}

{{form_start(form)}}
<br>

<div class="form_row">
        {{ form_label(form.nomP) }}
        {{ form_errors(form) }}
        {{ form_widget(form.nomP) }}
    </div>


 <br>

{{ form_row(form.description) }}
{{ form_errors(form.description) }}
<br>

<br>

{{form_end(form)}}
{% endblock %}
