{% extends 'baseCoach.html.twig' %}


{% block title %}Lister Planning{% endblock %}

{%block javascripts%}

{%endblock%}
{% block body %}


<div class="alert alert-light alert-dismissible fade show" role="alert">search menu
<input type="text" id="search" class="form-control" placeholder="Search" style="width:50%;"></div><br>
<a type="button" class="btn btn-success text-white" href="{{ path ('pdfgen')}}" >exporter pdf</a>

<table class="table table-striped table-hover table-light " id="t">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nom Planning</th>
      <th scope="col">Description</th>
      <th scope="col">Date Creation</th>
      <th scope="col">Likes
      </th>
      <th scope="col">Dislike</th>
      <th scope="col"><a type="button" class="btn btn-success text-white" href="{{ path ('AjouterPlanningCoach')}}" >Créer Planning</a></th>
    </tr>
  </thead>
  <tbody id="all">
{% for plan in plans %}
<tr>
     
      <td>{{plan.nomP}}</td>
      <td>{{plan.description}}</td>
      <td>{{plan.dateCreation|date('Y-m-d\\H:i:sP')}}</td>
      <td><a type="button" href="{{ path ('LikerP', {'id' :plan.id})}}" id="like" ><i   class="far fa-thumbs-up"></i>
      <span class=""js-likes>{{plan.liker}}</span>
      <span class="js-label">Like</span></a></td>
      <td><a type="button" href="{{ path ('DisikerP', {'id' :plan.id})}}" id="dislike"><i type="button" href="#" class="far fa-thumbs-down"></i>
      <span class="js-likes">{{plan.disliker}}</span>
      <span class="js-label">Dislike</span></a></td>
      <td><a type="button" class="btn btn-success text-white" href="{{ path ('modifierPC', {'id' :plan.id})}} " >Modifier</a></td>
          <td><a type="button" class="btn btn-danger text-white" href="{{ path ('supprimerPU', {'id' :plan.id})}}"onclick="return confirm('vous ete sure de votre action')">Supprimer</a></td>
    </tr>

 {% endfor %}
</tbody>
<tbody id="search">
</tbody>


</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
$( document ).ready(function() {
        $("#search").keyup(function(e){
/* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
          var value = $(this).val();
/* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
             $.ajax({
/* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('searchStudentx2') }}",
/* La méthode utilisée pour transférer les données est GET */
                type : 'GET', 
/*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */                
                data: {
                        'searchValue' : value
                    },
/*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success : function(retour){
                  if(retour){
  			$('#t tbody#search').empty();
  			$.each(JSON.parse(retour), function(i, obj) {
  			$('#t tbody#all').hide();
  			$('#t tbody#search').append('<tr><td> '+obj.nomP+'  </td><td>    '+obj.description+'  </td><td>'+obj.dateCreation+' </td> <td><a type="button" href="Planning/'+obj.liker+'/liker " id="like" ><i   class="far fa-thumbs-up"></i><span class=""js-likes>'+obj.liker+' </span><span class="js-label">Like</span></a>  </td><td><a type="button" href="Planning/'+obj.disliker+'/Disiker " id="like" ><i   class="far fa-thumbs-up"></i><span class=""js-likes>'+obj.disliker+' </span><span class="js-label">Like</span></a>  </td><td><a href="/ListerPlanningU/supprimer'+obj.id+'"class="btn btn-danger text-white">supprimer</a></td><td><a href="/PlanningU/'+obj.id+'/modifier" class="btn btn-success text-white">Modifier</a></td></tr>');
});
                  }
                  else
                  {
   $('#t tbody#all').show();
   $('#t tbody#search').empty();
   $('#t tbody#search').fadeIn('fast');
                     }
 },
        });
        return false;
        });
    });
        </script>
        
        <script src="https://kit.fontawesome.com/d7e0bcc312.js" crossorigin="anonymous"></script>
{% endblock %}
