{% extends 'base.html.twig' %}


{% block title %}Ajouter tache planning!{% endblock %}
{% block style %}
.grid-container2 {
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "topleft topleft topright topright"
    "topleft topleft topright topright"
    "botleft botleft botright botright"
    "botleft botleft botright botright";
}

.topleft { grid-area: topleft; }

.topright { grid-area: topright; }

.botleft { grid-area: botleft; }

.botright { grid-area: botright; }
.demo {
		width:100%;
		height:100%;
		border:#403F3F;
		padding:5px;
	}
	.demo th {
		border:1px solid #000000;
		padding:5px;
		background:#21BA40;
	}
	.demo td {
		border:1px solid #000000;
		padding:5px;
	}

{% endblock %}


{% block javascripts%}

  
{%endblock%}
{% block body %}

<div class="grid-container2">
  <div class="topleft" style="border-style: solid;border-bottom:none; overflow: auto;">
  <h3>citation</h3>
  <table class="demo">
	<caption>Table 1</caption>
	<thead>
	<tr>
		<th>Auther</th>
		<th>Text</th>
		<th>Genre</th>
		<th>Ajouter</th>
	</tr>
	</thead>
    <tbody>
  {% for c in citation %}
  <tr>
		<td>{{ c.auteur }}</td>
		<td>{{ c.text }}</td>
		<td><p>{{ c.genre }}</p></td>
		<td><a  class="btn btn-success text-white"  data-toggle="modal" data-target="#myModal" href="{{ path ('ContentAddU',{'id': id,'idc' : c.id,'type': "citaion" })}}">ajouter</a></td>
	</tr>
        
    {% endfor %}
    
    
    </tbody>
</table>
  </div>
  <div class="topright" style="border-style: solid; border-left:none;border-bottom:none; overflow: auto;">
  <h3>video</h3>
  <table class="demo">
	<caption>Table video</caption>
	<thead>
	<tr>
		<th>titre</th>
		<th>Genre</th>
		<th>Ajouter</th>
	</tr>
	</thead>
    <tbody>
  {% for v in video %}
  <tr>
  <td>{{ v.titre }}</td>
   <td>{{ v.genre }}</td>
		<td><a href="{{ path ('ContentAddU',{'id': id,'idc' : v.idV,'type': "video" })}}" class="btn btn-success text-white" href="#">ajouter</a></td>
      </tr>

    {% endfor %}
    </tbody>
</table>
    
  </div>
  <div class="botleft" style="border-style: solid; overflow: auto;">
  <h3>Musique</h3>
  <table class="demo">
	
	<thead>
	<tr>
		
		
		<th>Genre</th>
        <th>Artiste</th>
		<th>Ajouter</th>
	</tr>
	</thead>
    <tbody>
  {% for m in musique %}
  <tr>
  <td><p>{{ m.genre }}</p></td>
  <td><p>{{ m.artiste }}</p></td>
		<td><a href="{{ path ('ContentAddU',{'id': id,'idc':m.nombre,'type': "musique" })}}" class="btn btn-success text-white">ajouter</a></td>
       </tr>
    {% endfor %}</tbody>
</table>
  </div>
  <div class="botright" style="border-style: solid; border-left:none;overflow: auto;">
  <h3>Ebook</h3>
  <table class="demo">
	
	<thead>
	<tr>
		<th>Auther</th>
		
		<th>Genre</th>
        <th>Titre</th>
		<th>Ajouter</th>
	</tr>
	</thead>
    <tbody>
  {% for e in Ebook %}<tr>
    <td><p>{{ e.auteur }}</p></td>
    <td><p>{{ e.genre }}</p></td>
  <td><p>{{ e.titre }}</p></td>
		<td><a href="{{ path ('ContentAddU',{'id': id,'idc' : e.id,'type': "ebook" })}}" class="btn btn-success text-white" >ajouter</a></td>
        </tr>
    {% endfor %}
  </div>
</div></tbody>
</table>

{% endblock %}
