<h1>Musique</h1>

<table class="table">
    <tbody>
    <tr>
        <th>Nombre</th>
        <td>{{ musique.nombre }}</td>
    </tr>
    <tr>
        <th>Titre</th>
        <td>{{ musique.titre }}</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>{{ musique.genre }}</td>
    </tr>
    <tr>
        <th>Artiste</th>
        <td>{{ musique.artiste }}</td>
    </tr>
    <tr>
        <th>Musicpath</th>
        <td>{{ musique.musicpath }}</td>
    </tr>
    <tr>
        <th>Image</th>
        <td>{{ musique.image }}</td>
    </tr>
    </tbody>
</table>