<h1>Video</h1>

<table class="table">
    <tbody>
    <tr>
        <th>IdV</th>
        <td>{{ video.idV }}</td>
    </tr>
    <tr>
        <th>Titre</th>
        <td>{{ video.titre }}</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>{{ video.genre }}</td>
    </tr>
    <tr>
        <th>Videopath</th>
        <td>{{ video.videopath }}</td>
    </tr>
    <tr>
        <th>NbLikes</th>
        <td>{{ video.nbLikes }}</td>
    </tr>
    <tr>
        <th>NbDislikes</th>
        <td>{{ video.nbDislikes }}</td>
    </tr>
    <tr>
        <th>Mailsent</th>
        <td>{{ video.mailsent }}</td>
    </tr>
    </tbody>
</table>

