{% extends 'baseAdmin.html.twig' %}


{% block title %}Lister Planning{% endblock %}

{%block javascripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
$( document ).ready(function() {
        $("#search").keyup(function(e){
/* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
          var value = $(this).val();
/* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
             $.ajax({
/* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('searchStudentx') }}",
/* La méthode utilisée pour transférer les données est GET */
                type : 'GET', 
/*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */                
                data: {
                        'searchValue' : value
                    },
/*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success : function(retour){
                  if(retour){
  			$('#t tbody#search').empty();
  			$.each(JSON.parse(retour), function(i, obj) {
  			$('#t tbody#all').hide();
  			$('#t tbody#search').append('<tr><td> '+obj.nomP+'  </td><td>    '+obj.description+'  </td><td>'+obj.dateCreation+' </td><td> '+obj.liker+'  </td><td> '+obj.disliker+'  </td><td><a href="/ListerPlanning/supprimer'+obj.id+'">supprimer</a></td></tr>');
});
                  }
                  else
                  {
   $('#t tbody#all').show();
   $('#t tbody#search').empty();
   $('#t tbody#search').fadeIn('fast');
                     }
 },
        });
        return false;
        });
    });
        </script>
{%endblock%}
{% block body %}


<div class="alert alert-light alert-dismissible fade show" role="alert">search menu
<input type="text" id="search" class="form-control" placeholder="Search" style="width:50%;"><a type="button" class="btn btn-success text-white" href="{{ path ('ListerP')}}" >clear</a></div>
<br>

<table class="table table-striped table-hover table-success " id="t">
  <thead>
    <tr>
      <th scope="col">Nom Planning</th>
      <th scope="col">Description</th>
      <th scope="col">Dtae Creation</th>
      <th scope="col">Like</th>
      <th scope="col">Dislike</th>
      <th scope="col"><a type="button" class="btn btn-success text-white" href="{{ path ('AjouterPlanning')}}" >Ajouter Planning</a></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="all">
{% for plan in plans %}
<tr>
     
      <td>{{plan.nomP}}</td>
      <td>{{plan.description}}</td>
      <td>{{plan.dateCreation|date('Y-m-d\\H:i:sP')}}</td>
      <td>{{plan.liker}}</td>
      <td>{{plan.disliker}}</td>
      <td><a type="button" class="btn btn-success text-white" href="{{ path ('modifierP', {'id' :plan.id})}}" >Modifier</a></td>
          <td><a type="button" class="btn btn-danger text-white" href="{{ path ('supprimerP', {'id' :plan.id})}}">Supprimer</a></td>
    </tr>

 {% endfor %}
</tbody>
<tbody id="search">
</tbody>


</table>
{% endblock %}
