<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to Meliora!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

           <style>
           {% block style %}

           {% endblock %}
           </style>
        {% block stylesheets %}
        <!-- Favicons -->
  <link href="{{ asset('img/favicon.png') }}" rel="icon">
  <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <link href="{{ asset('vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/remixicon/remixicon.css') }} "rel="stylesheet">
  <link href="{{ asset('vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">


  <!-- Template Main CSS File <--></-->
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">

            {#{{ encore_entry_link_tags('app') }}#}
        <script>
        {% endblock %}



        </script>
    </head>
    <body>
    {% block header %}
    <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center" style="margin-left:3%;">

      
      <!-- Uncomment below if you prefer to use an image logo -->

      <a href="index.html" class="logo mr-auto"><img src="{{ asset('img/logoMeliora.png') }}" alt="" class="img-fluid"> Meliora</a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
           <li class="active"><a href="{{ path('afterLogin') }}">Accueil</a></li>
          <li><a href="/aliment">Aliment</a></li>
          <li><a href="/regime">Regime</a></li>
          <li><a href="{{ path ('ListerPU')}}">Planning</a></li>
           <li class="drop-down"><a href="">Nos contenu</a>

            <ul>
              
              <li><a href="/videos">Video de coaching</a></li>
                  <li><a href="{{ path('music_index')}}">Musique</a></li>
                  <li><a href="Affichec">Citation</a></li>
                  <li><a href="Afficheb">Ebook</a></li>
                  <li><a href="contact">Contact</a></li>
                   <li><a href="stat1">statisques</a></li>
            </ul>
          </li>
          
        
          <li><a href="{{ path('2usercc') }}">Coach</a></li>
         <li><a href="{{ path('reclamation_index') }}">Reclamation</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="{{ path('reclamation_index') }}">Reclamation</a></li>


            <a href="{{ path('profil') }}" class="get-started-btn" style="margin-left :0;">Edit Profile Informations</a>

{% if app.user %}
    <a href="{{path('logout')}}" class="get-started-btn">logout</a>
 {% else %}
     <a href="courses.html" class="get-started-btn">Login</a>
 {% endif %}
     
      


        </div>
    </header><!-- End Header -->
{% endblock %}
<div style="width:100%;height:100px;"></div>
<main id="main">

    <div class="container" >
        {% block body %}

        
        
        {% endblock %}
        </div></main>
        {% block footer %}
         <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Mentor</h3>
            <p>
              2089 Rue trapoli <br>
              el ghazela,  Ariana<br>
              Tunis <br><br>
              <strong>Phone:</strong> +216 55 555 555<br>
              <strong>Email:</strong> contact@meliora.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Video Coaching</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Musique</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          



     



                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>Meliora</span></strong>. All Rights Reserved
                </div>
                <div class="credits">

                    Designed by <a href="#">Meliora</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">

                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>

            </div>
        </div>

      </div>
     
    </div>
  </footer><!-- End Footer -->
        {% endblock %}
    </body>

</html>
