{% extends 'base.html.twig' %}

{% block title %}Affichage coach!{% endblock %}
{% block body %}
<div class="container mt-4">
    <h2 class="text-center">Les Coach disponibles</h2>

<div class="d-flex justify-content-end mb-2">
{{ knp_pagination_sortable(coach,'performence','C.tel') }}

</div>
        <div class="row flex mt-4">
            {% for c in coach %}
                <div class="col-3 ">
                    <div class="card mt-4">
                        <div class="card-body">
                            <img src="img/{{c.image}}" alt="card-img-top" style="width:100%; height: auto;">
                            <h5 class="card-title"><a href="{{ path('show',{'id' :c.id}) }}" >{{ c.nom }} {{ c.prenom}} </a></h5>
                            <p class="card-text"> Email: {{c.email}}</p>
                            <p class="card-text"> Rating: {{c.rating}}</p>
                            <div class="test-primary" style="font-weight: bold; font-size: 2rem;">{{c.tel }}
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    <div class="pagination mt-4"
    {{ knp_pagination_render(coach) }}
    </div>
</div>
{% endblock %}