{% extends 'base.html.twig' %}

{% block title %}Affichage coach!{% endblock %}
{% block body %}
<div class="container mt-4">
            <h1>{{coach.nom}} {{coach.prenom}}</h1>
</div>
    <div class="row flex">
            <div class="col-md-7">
                <img src="/img/{{coach.image}}" width="400" height="400" />
            </div>
            <div class="col-md-4">
                <h3>adresse:{{coach.adresse}}</h3>
                <p class="card-text"> Email:{{coach.email}}</p>
                <div class="test-primary" style="font-weight: bold; font-size: 2rem;">{{coach.tel }}
            
                </div>
                <img src="/img/qr-code/{{coach.id}}.png" width="200" height="200" />
            </div>
         
    </div>

{% endblock %}